<app-navbar></app-navbar>

<div class="container mt-3">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-secondary">
      <tr>
        <th>Equipa</th>
        <th>PD</th>
        <th>V</th>
        <th>E</th>
        <th>D</th>
        <th>GM</th>
        <th>GS</th>
        <th><strong>Pts</strong></th>
      </tr>
      </thead>
      <tbody class="table-dark">
      <tr>
        <td>TIME A</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>6</td>
        <td>2</td>
        <td>6</td>
      </tr>
      <tr>
        <td>TIME A</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>6</td>
        <td>2</td>
        <td>6</td>
      </tr>
      <tr>
        <td>TIME A</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>6</td>
        <td>2</td>
        <td>6</td>
      </tr>
      <tr>
        <td>TIME A</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>6</td>
        <td>2</td>
        <td>6</td>
      </tr>
      <tr>
        <td>TIME A</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>6</td>
        <td>2</td>
        <td>6</td>
      </tr>
      <tr>
        <td>TIME A</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>6</td>
        <td>2</td>
        <td>6</td>
      </tr>
      <tr>
        <td>TIME A</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>6</td>
        <td>2</td>
        <td>6</td>
      </tr>
      <tr>
        <td>TIME A</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>6</td>
        <td>2</td>
        <td>6</td>
      </tr>
      <tr>
        <td>TIME A</td>
        <td>3</td>
        <td>2</td>
        <td>0</td>
        <td>1</td>
        <td>6</td>
        <td>2</td>
        <td>6</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
