<main class="flex flex-col min-h-screen">
  <div class="flex-grow">
    <app-navbar></app-navbar>
    <section class="w-full">
      <div class="container mt-3">
        <div class="row g-3">
          <div class="col-md-3 mb-3" *ngFor="let club of clubs">
            <div class="d-flex justify-content-center">
              <div class="card-color card" style="cursor: pointer;" (click)="clubDetails(club.id)">
                <div class="card-header bg-light">
                  <div class="d-flex justify-content-center">
                    <img class="card-img" [src]="imageUrls[club.id]" alt="Logo do Clube" height="100" width="500">
                  </div>
                </div>
                <div class="card-body d-flex justify-content-center">
                  <h6>{{club.name}} ({{club.abv}})</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full mb-3 flex justify-center">
      <div class="">
        <button class="btn btn-outline-light me-2" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">
          <
        </button>
        <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
        <button class="btn btn-outline-light ms-2" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage >= totalPages - 1">
          >
        </button>
      </div>
    </section>

  </div>
  <app-footer ></app-footer>
</main>

