<div class="container mt-2">
  <div class="d-flex justify-content-center">
    <div class="custom-shadow">
      <p class="d-flex justify-content-center" style="color: #482424" >Criar Conta</p>
      <div class="d-flex justify-content-center">
        <i class="fa fa-user-circle" style="font-size: 54px; color: #1D1C1C"></i>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <form>
          <input type="text" class="form-control mb-3 border-black" placeholder="Nome">
          <input type="text" class="form-control mb-3 border-black" placeholder="Sobrenome">
          <input type="email" class="form-control mb-3 border-black" placeholder="Email">
          <input type="password" class="form-control mb-3 border-black" placeholder="Palavra-Passe">
          <input type="password" class="form-control mb-3 border-black" placeholder="Confirmar Palavra-Passe">
          <input type="hidden" value="CLIENT">
          <span class="d-flex justify-content-center">
             <input type="submit" class="login-btn btn btn-success" value="Criar Conta"  style="width: 100%; background-color: #0E1116">
          </span>
          <a routerLink="/entrar" class="register-btn btn mt-3 mb-0 d-flex justify-content-center" >
            Já tenho uma conta
          </a>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>
