<div class="row g-0" style="background-color: #F4F2F3;">
  <div class="col-md-2 d-md-block d-none" style="background: #355070">
    <app-admin-navbar></app-admin-navbar>
  </div>
  <div class="col d-flex flex-column justify-content-between" style="min-height: 100vh;">
    <div class="container mt-3 flex-grow-1">
      <app-admin-sidebar class="d-md-none"></app-admin-sidebar>
      <section style="color: black;">
        <app-game-detail></app-game-detail>
      </section>
    </div>
  </div>
</div>

