<div class="row g-0" style="background-color: #F4F2F3;">
  <div class="col-md-2 d-md-block d-none" style="background: #355070">
    <app-admin-navbar></app-admin-navbar>
  </div>
  <div class="col d-flex flex-column justify-content-between" style="min-height: 100vh;">
    <div class="container mt-3 flex-grow-1">
      <app-admin-sidebar class="d-md-none"></app-admin-sidebar>
      <nav class="navbar navbar-light d-none d-md-block">
        <div class="container-fluid">
          <a class="navbar-brand d-md-block d-none position-relative" style="top: 15px;">Clube</a>
        </div>
        <div class="d-flex justify-content-end">
          <app-admin-notification></app-admin-notification>
        </div>
      </nav>
      <section>
        <div class="mt-3">
          <div class="row g-2" *ngIf="club">
            <div class="col-md-6">
              <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <div class="image-container">
                      <img [src]="imageUrl[club.id]" class="img-fluid rounded-start mt-[50px]" alt="..." height="500" width="500">
                      <div class="overlay"></div>
                      <button class="edit-button btn btn-primary" style="position: relative; left: 60px; top: -100px;" (click)="changeEmblem(club.id)">Editar</button>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title mt-4">{{club.name}}</h5>
                      <p class="mb-0"> <span class="text-muted">Abreviação: </span> <strong>{{ club.abv }}</strong></p>
                      <p class="mb-0"> <span class="text-muted">Província: </span><strong>{{ club.province }}</strong></p>
                      <p class="mb-0"> <span class="text-muted">Tipo de Equipa: </span><strong>{{ club.state }}</strong></p>
                      <p class="mb-0"> <span class="text-muted">Grupo: </span><strong>{{ club.groupType }}</strong></p>
                      <p class="mb-0"> <span class="text-muted">Categoria: </span><strong>{{ club.category }}</strong></p>
                      <p class="mb-0" *ngIf="!club.isReadyToPlay"> <span class="text-muted">Disponibilidade: </span><strong>Falta de jogadores para competição</strong></p>
                      <p class="mb-0" *ngIf="club.isReadyToPlay"> <span class="text-muted">Disponibilidade: </span><strong>Disponível para jogos</strong></p>
                    </div>
                  </div>
                </div>
              </div>
              <section style="color: black">
                <h6>Sobre</h6>
                <p>{{club.description}}</p>
              </section>
            </div>
            <div class="col">
              <div class="card card-body" style="color: black">
                  <h6 class="flex justify-center">Jogadores</h6>
                  <ul>
                    <li *ngFor="let player of club.players let i = index">
                      {{ i + 1 }}.
                      <span *ngIf="player.userRole !== 'ADMIN'">{{ player.fullName }}</span>
                      <span *ngIf="player.userRole === 'CAPTAIN'"> (Capitão)</span>
                      <span *ngIf="player.userRole === 'SUB-CAPTAIN'"> (Sub-Capitão)</span>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section style="position: fixed; bottom: 12px; width: 72rem;">
        <p class="d-flex justify-content-center" style="position: relative; top: 6px; color: black;">futdabanda.com</p>
      </section>
    </div>
  </div>
</div>
