<app-navbar></app-navbar>
<app-carousel></app-carousel>
<div class="container mt-3">
  <h5 class="d-flex justify-content-center">Próximas Partidas</h5>
  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center mb-2" style="border: 2px solid gold; position: relative; top: -15px; width: 250px;"></div>
  </div>

  <div class="row g-3">
    <div class="col-md-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <p class="d-flex justify-content-center">29/06/2024</p>
            <div class="d-flex justify-content-center">
              <div class="d-flex">
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p>TIME A</p>
                </div>
                <span class="me-4 ms-4" style="font-size: 42px; position: relative; top: 20px;">X</span>
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p>TIME B</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <p class="d-flex justify-content-center">29/06/2024</p>
            <div class="d-flex justify-content-center">
              <div class="d-flex">
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p>TIME A</p>
                </div>
                <span class="me-4 ms-4" style="font-size: 42px; position: relative; top: 20px;">X</span>
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p>TIME B</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <p class="d-flex justify-content-center">29/06/2024</p>
            <div class="d-flex justify-content-center">
              <div class="d-flex">
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p>TIME A</p>
                </div>
                <span class="me-4 ms-4" style="font-size: 42px; position: relative; top: 20px;">X</span>
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p>TIME B</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <p class="d-flex justify-content-center">29/06/2024</p>
            <div class="d-flex justify-content-center">
              <div class="d-flex">
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p>TIME A</p>
                </div>
                <span class="me-4 ms-4" style="font-size: 42px; position: relative; top: 20px;">X</span>
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p>TIME B</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h5 class="d-flex justify-content-center mt-3">Tabela de Classificação</h5>
  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center mb-3" style="border: 2px solid gold; position: relative; top: -15px; width: 300px;"></div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-secondary">
        <tr>
          <th>Equipa</th>
          <th>PD</th>
          <th>V</th>
          <th>E</th>
          <th>D</th>
          <th>GM</th>
          <th>GS</th>
          <th><strong>Pts</strong></th>
        </tr>
      </thead>
      <tbody class="table-dark">
        <tr>
          <td>TIME A</td>
          <td>3</td>
          <td>2</td>
          <td>0</td>
          <td>1</td>
          <td>6</td>
          <td>2</td>
          <td>6</td>
        </tr>
        <tr>
          <td>TIME A</td>
          <td>3</td>
          <td>2</td>
          <td>0</td>
          <td>1</td>
          <td>6</td>
          <td>2</td>
          <td>6</td>
        </tr>
        <tr>
          <td>TIME A</td>
          <td>3</td>
          <td>2</td>
          <td>0</td>
          <td>1</td>
          <td>6</td>
          <td>2</td>
          <td>6</td>
        </tr>
        <tr>
          <td>TIME A</td>
          <td>3</td>
          <td>2</td>
          <td>0</td>
          <td>1</td>
          <td>6</td>
          <td>2</td>
          <td>6</td>
        </tr>
        <tr>
          <td>TIME A</td>
          <td>3</td>
          <td>2</td>
          <td>0</td>
          <td>1</td>
          <td>6</td>
          <td>2</td>
          <td>6</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h5 class="d-flex justify-content-center">Resultados Finais</h5>
  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center mb-2" style="border: 2px solid gold; position: relative; top: -15px; width: 240px;"></div>
  </div>

  <div class="row g-3">
    <div class="col-md-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <p class="d-flex justify-content-center">Terminado</p>
            <div class="d-flex justify-content-center">
              <div class="d-flex">
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p class="d-flex justify-content-center">TIME A</p>
                  <p class="d-flex justify-content-center" style="font-size: 32px;"><strong>2</strong></p>
                </div>
                <span class="me-4 ms-4" style="font-size: 42px; position: relative; top: 20px;">X</span>
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p class="d-flex justify-content-center">TIME B</p>
                  <p class="d-flex justify-content-center" style="font-size: 32px;"><strong>1</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <p class="d-flex justify-content-center">Terminado</p>
            <div class="d-flex justify-content-center">
              <div class="d-flex">
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p class="d-flex justify-content-center">TIME A</p>
                  <p class="d-flex justify-content-center" style="font-size: 32px;"><strong>2</strong></p>
                </div>
                <span class="me-4 ms-4" style="font-size: 42px; position: relative; top: 20px;">X</span>
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p class="d-flex justify-content-center">TIME B</p>
                  <p class="d-flex justify-content-center" style="font-size: 32px;"><strong>1</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <p class="d-flex justify-content-center">Terminado</p>
            <div class="d-flex justify-content-center">
              <div class="d-flex">
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p class="d-flex justify-content-center">TIME A</p>
                  <p class="d-flex justify-content-center" style="font-size: 32px;"><strong>2</strong></p>
                </div>
                <span class="me-4 ms-4" style="font-size: 42px; position: relative; top: 20px;">X</span>
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p class="d-flex justify-content-center">TIME B</p>
                  <p class="d-flex justify-content-center" style="font-size: 32px;"><strong>1</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <p class="d-flex justify-content-center">Terminado</p>
            <div class="d-flex justify-content-center">
              <div class="d-flex">
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p class="d-flex justify-content-center">TIME A</p>
                  <p class="d-flex justify-content-center" style="font-size: 32px;"><strong>2</strong></p>
                </div>
                <span class="me-4 ms-4" style="font-size: 42px; position: relative; top: 20px;">X</span>
                <div>
                  <lucide-icon name="circle-user-round" size="64" strokeWidth="1"></lucide-icon>
                  <p class="d-flex justify-content-center">TIME B</p>
                  <p class="d-flex justify-content-center" style="font-size: 32px;"><strong>1</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>

<small class="d-flex justify-content-center mt-3">Cada partida é uma emoção</small>
<div id="carouselExampleFade" class="carousel mt-3" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/img03.webp" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div class="container mt-3">
  <h5 class="d-flex justify-content-center">Melhor</h5>
  <div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center mb-3" style="border: 2px solid gold; position: relative; top: -15px; width: 100px;"></div>
  </div>

  <div class="row g-3">
    <div class="col-md-3 mb-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <div>
                <lucide-icon name="circle-user-round" size="128" strokeWidth="1"></lucide-icon>
                <p class="d-flex justify-content-center">Clube</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <div>
                <lucide-icon name="circle-user-round" size="128" strokeWidth="1"></lucide-icon>
                <p class="d-flex justify-content-center">Jogador</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <div>
                <lucide-icon name="circle-user-round" size="128" strokeWidth="1"></lucide-icon>
                <p class="d-flex justify-content-center">Marcador</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="d-flex justify-content-center">
        <div class="card-color card">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <div>
                <lucide-icon name="circle-user-round" size="128" strokeWidth="1"></lucide-icon>
                <p class="d-flex justify-content-center">Defesa</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer class="no-margin"></app-footer>
