<div class="row g-0" style="background-color: #F4F2F3;">
  <div class="col-md-2 d-md-block d-none" style="background: #355070">
    <app-admin-navbar></app-admin-navbar>
  </div>
  <div class="col d-flex flex-column justify-content-between" style="min-height: 100vh;">
    <div class="container mt-3 flex-grow-1">
      <app-admin-sidebar class="d-md-none"></app-admin-sidebar>
      <nav class="navbar navbar-light d-none d-md-block">
        <div class="container-fluid">
          <a class="navbar-brand d-md-block d-none position-relative" style="top: 15px;">Clubes</a>
        </div>
        <div class="d-flex justify-content-end">
          <app-admin-notification></app-admin-notification>
        </div>
      </nav>
      <section>
        <div>
          <div class="card card-body border-0"
               style="position: relative; height: 100%; background-color: #F4F2F3; color: black;">
            <div class="mt-3">
              <mat-tab-group>
                <mat-tab label="Lista">
                  <div class="table-responsive" style="position:relative; max-height: 320px;">
                    <table class="table table-hover">
                      <thead class="table-dark">
                      <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Grupo</th>
                        <th>Estado</th>
                        <th>Ação</th>
                      </tr>
                      </thead>
                      <tbody class="table-active">
                      <tr *ngFor="let club of clubs" style="cursor:pointer;">
                        <td>{{ club.name }}</td>
                        <td>{{ club.category }}</td>
                        <td>{{ club.groupType }}</td>
                        <td>{{ club.state }}</td>
                        <td>
                          <div class="d-flex">
                            <button class="btn btn-primary me-2">
                              <lucide-icon name="pencil"></lucide-icon>
                            </button>
                            <button type="submit" class="btn btn-danger" (click)="delete(club.id)">
                              <lucide-icon name="trash"></lucide-icon>
                            </button>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div>
                      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">
                        Anterior
                      </button>
                      <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
                      <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage >= totalPages - 1">
                        Próximo
                      </button>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Novo">
                  <div class="row g-0">
                    <div class="col-md-8">
                      <div class="mt-3" style="position: relative; max-height: 320px; border-radius: 0;">
                        <div class="d-flex justify-content-center">
                          <form [formGroup]="clubForm" (ngSubmit)="registerClub()">
                            <div class="row">
                              <div class="col">
                                <label class="name">Nome</label>
                                <input type="text" class="form-control" formControlName="name">
                              </div>
                              <div class="col">
                                <label class="name">Abreviação</label>
                                <input type="text" class="form-control" formControlName="abv">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group mt-3">
                                  <label class="name">Província</label>
                                  <select class="form-control" formControlName="province">
                                    <option value="" disabled>-- Selecionar --</option>
                                    <option value="Bengo">Bengo</option>
                                    <option value="Benguela">Benguela</option>
                                    <option value="Bié">Bié</option>
                                    <option value="Cabinda">Cabinda</option>
                                    <option value="Cuando-cubango">Cuando-Cubango</option>
                                    <option value="Cuanza-norte">Cuanza Norte</option>
                                    <option value="Cuanza-sul">Cuanza Sul</option>
                                    <option value="Cunene">Cunene</option>
                                    <option value="Huambo">Huambo</option>
                                    <option value="Huíla">Huíla</option>
                                    <option value="Luanda">Luanda</option>
                                    <option value="Luanda-norte">Lunda Norte</option>
                                    <option value="Luanda-sul">Lunda Sul</option>
                                    <option value="Malanje">Malanje</option>
                                    <option value="Moxico">Moxico</option>
                                    <option value="Namibe">Namibe</option>
                                    <option value="Uíge">Uíge</option>
                                    <option value="Zaire">Zaire</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group mt-3">
                                  <label class="name">Grupo</label>
                                  <select class="form-control" formControlName="groupType">
                                    <option value="" disabled>-- Selecionar --</option>
                                    <option value="A">Grupo A</option>
                                    <option value="B">Grupo B</option>
                                    <option value="C">Grupo C</option>
                                    <option value="D">Grupo D</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group mt-3">
                                  <label class="name">Categoria</label>
                                  <select class="form-control" formControlName="category">
                                    <option value="" disabled>-- Selecionar --</option>
                                    <option value="Sub-7">Sub-7 (6-8 anos)</option>
                                    <option value="Sub-9">Sub-9 (9-10 anos)</option>
                                    <option value="Sub-11">Sub-11 (11-12 anos)</option>
                                    <option value="Sub-13">Sub-13 (13-14 anos)</option>
                                    <option value="Sub-15">Sub-15 (15-16 anos)</option>
                                    <option value="Sub-17">Sub-17 (17-19 anos)</option>
                                    <option value="Sub-20">Sub-20 (18-20 anos)</option>
                                    <option value="Adulto">Adulto</option>
                                    <option value="Veterano">Veterano</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group mt-3">
                                  <label class="name">Tipo</label>
                                  <select class="form-control" formControlName="state">
                                    <option value="" disabled>-- Selecionar --</option>
                                    <option value="PROFISSIONAL">Profissional</option>
                                    <option value="AMADOR">Amador</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="form-group mt-3">
                              <label>Sobre</label>
                              <textarea type="text" formControlName="description" class="form-control"></textarea>
                            </div>

                            <div class="form-group mt-3">
                              <label class="name">Logotipo</label>
                              <input type="file" accept="image/*" (change)="onImageFileChange($event)" class="form-control">
                            </div>

                            <span class="d-flex justify-content-center">
                              <input type="submit" class="btn btn-success mt-3" value="Registar">
                            </span>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card card-body mt-4 me-4">
                        <img *ngIf="selectedImageUrl" [src]="selectedImageUrl" alt="Imagem Selecionada" class="img-fluid"/>
                      </div>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </section>
      <section style="position: fixed; bottom: 12px; width: 72rem;">
        <p class="d-flex justify-content-center" style="position: relative; top: 6px; color: black;">futdabanda.com</p>
      </section>
    </div>
  </div>
</div>
