<div class="row g-0" style="background-color: #F4F2F3;">
  <div class="col-md-2 d-md-block d-none" style="background: #355070">
    <app-admin-navbar></app-admin-navbar>
  </div>
  <div class="col d-flex flex-column justify-content-between" style="min-height: 100vh;">
    <div class="container mt-3 flex-grow-1">
      <app-admin-sidebar class="d-md-none"></app-admin-sidebar>
      <nav class="navbar navbar-light d-none d-md-block">
        <div class="container-fluid">
          <a class="navbar-brand d-md-block d-none position-relative" style="top: 15px;">Utilizadores</a>
        </div>
        <div class="d-flex justify-content-end">
          <app-admin-notification></app-admin-notification>
        </div>
      </nav>
      <section>
        <div class="mt-3">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="table-dark">
              <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Papél</th>
              </tr>
              </thead>
              <tbody class="table-active">
              <tr *ngFor="let player of players">
                <td>
                  <img
                    [ngSrc]="imageUrls[player.id]"
                    alt="foto do jogador"
                    style="width: 60px; height: 60px"
                    class="rounded-circle"
                    width="100"
                    height="100"
                  />
                </td>
                <td>{{player.fullName}}</td>
                <td>{{player.email}}</td>
                <td>{{player.userRole}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <section style="position: fixed; bottom: 12px; width: 72rem;">
        <p class="d-flex justify-content-center" style="position: relative; top: 6px; color: black;">futdabanda.com</p>
      </section>
    </div>
  </div>
</div>

