<div class="container mt-4">
    <h6 class="d-flex justify-content-center mt-3" style="position: relative; top: 4px;">FUTDABANDA</h6>
  <div class="d-flex justify-content-center">
    <ul class="navbar-nav">
      <hr>
      <li class="nav-item" routerLinkActive="active"><a routerLink="/admin" class="nav-link">Dashboard</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="/admin-clubes" class="nav-link">Clubes</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="/admin-campos" class="nav-link">Campos</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="/admin-campeonatos" class="nav-link">Campeonatos</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="/admin-jogadores" class="nav-link">Utilizadores</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="/admin-partidas" class="nav-link">Partidas</a></li>
      <hr>
      <li class="nav-item">
        <span class="d-flex justify-content-center">
                  <button (click)="logout()" class="btn btn-danger"><i class="fa fa-right-from-bracket"></i>Sair</button>
        </span>
      </li>
    </ul>
  </div>
</div>


