<div class="container">
  <div class="sidebar card card-body mt-4" style="height: 500px; background-color: #F4F2F3; color: black;">
      <h6 class="d-flex justify-content-center mt-3">FUTDABANDA</h6>
    <div class="sidebar-menu d-flex justify-content-center">
      <ul class="navbar-nav">
        <hr>
        <li class="nav-item" routerLinkActive="active"><a routerLink="/admin" class="nav-link">Home</a></li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="/admin-clubes" class="nav-link">Clubes</a></li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="/admin-campos" class="nav-link">Campos</a></li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="/admin-campeonatos" class="nav-link">Campeonatos</a></li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="/admin-jogadores" class="nav-link">Jogadores</a></li>
        <li class="nav-item" routerLinkActive="active"><a routerLink="/admin-partidas" class="nav-link">Partidas</a></li>
        <hr>
        <li class="nav-item">
          <button (click)="logout()" class="btn btn-danger mt-4"><i class="fa fa-right-from-bracket"></i>Sair</button>
        </li>
      </ul>
    </div>
  </div>
</div>

