<app-navbar></app-navbar>

<div class="container mt-3">
  <div class="row g-3">
    <div class="col-md-6">
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img ngSrc="/img/img06.png" class="img-fluid rounded-start" alt="..." height="500" width="500">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mt-4">FC BARCELONA</h5>
              <p class="mb-0"><strong>TREINADOR</strong></p>
              <span class="mt-0">Pep Guardiola</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <th class="d-flex justify-content-center mt-4 mb-3">Jogadores</th>
        <div class="container">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Nome</th>
                <th>Posição</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Cristiano Ronaldo</td>
                <td>Goleiro (GK)</td>
              </tr>
              <tr>
                <td>Cristiano Ronaldo</td>
                <td>Goleiro (GK)</td>
              </tr>
              <tr>
                <td>Cristiano Ronaldo</td>
                <td>Goleiro (GK)</td>
              </tr>
              <tr>
                <td>Cristiano Ronaldo</td>
                <td>Goleiro (GK)</td>
              </tr>
              <tr>
                <td>Cristiano Ronaldo</td>
                <td>Goleiro (GK)</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
