<app-navbar></app-navbar>

<div class="container mt-3">
  <div class="row g-3">
    <div class="col-md-3 mb-3">
      <div class="d-flex justify-content-center">
        <div class="card card-color">
          <div class="card-header bg-light">
            <div class="d-flex justify-content-center">
              <img class="card-img" ngSrc="/img/img05.png" alt="player img" width="612" height="200">
            </div>
          </div>
          <div class="card-body bg-transparent">
            <h6 class="card-title">Leonel Messi</h6>
            <p class="card-text">Posição: Defesa</p>
            <p style="position: relative; right: 5px;">
              <lucide-icon name="dollar-sign" style="position: relative; top: -2px;"></lucide-icon>
              <span>20 mil AKZ</span>
            </p>
            <div class="d-flex">
              <button type="submit" class="btn btn-success me-2">
                <lucide-icon class="icon-color" name="shopping-cart"></lucide-icon>
              </button>
              <button type="submit" class="btn btn-warning">
                <lucide-icon class="icon-color" name="info"></lucide-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="d-flex justify-content-center">
        <div class="card card-color">
          <div class="card-header bg-light">
            <div class="d-flex justify-content-center">
              <img class="card-img" ngSrc="/img/img05.png" alt="player img" width="612" height="200">
            </div>
          </div>
          <div class="card-body bg-transparent">
            <h6 class="card-title">Leonel Messi</h6>
            <p class="card-text">Posição: Defesa</p>
            <p style="position: relative; right: 5px;">
              <lucide-icon name="dollar-sign" style="position: relative; top: -2px;"></lucide-icon>
              <span>20 mil AKZ</span>
            </p>
            <div class="d-flex">
              <button type="submit" class="btn btn-success me-2">
                <lucide-icon class="icon-color" name="shopping-cart"></lucide-icon>
              </button>
              <button type="submit" class="btn btn-warning">
                <lucide-icon class="icon-color" name="info"></lucide-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="d-flex justify-content-center">
        <div class="card card-color">
          <div class="card-header bg-light">
            <div class="d-flex justify-content-center">
              <img class="card-img" ngSrc="/img/img05.png" alt="player img" width="612" height="200">
            </div>
          </div>
          <div class="card-body bg-transparent">
            <h6 class="card-title">Leonel Messi</h6>
            <p class="card-text">Posição: Defesa</p>
            <p style="position: relative; right: 5px;">
              <lucide-icon name="dollar-sign" style="position: relative; top: -2px;"></lucide-icon>
              <span>20 mil AKZ</span>
            </p>
            <div class="d-flex">
              <button type="submit" class="btn btn-success me-2">
                <lucide-icon class="icon-color" name="shopping-cart"></lucide-icon>
              </button>
              <button type="submit" class="btn btn-warning">
                <lucide-icon class="icon-color" name="info"></lucide-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="d-flex justify-content-center">
        <div class="card card-color">
          <div class="card-header bg-light">
            <div class="d-flex justify-content-center">
              <img class="card-img" ngSrc="/img/img05.png" alt="player img" width="612" height="200">
            </div>
          </div>
          <div class="card-body bg-transparent">
            <h6 class="card-title">Leonel Messi</h6>
            <p class="card-text">Posição: Defesa</p>
            <p style="position: relative; right: 5px;">
              <lucide-icon name="dollar-sign" style="position: relative; top: -2px;"></lucide-icon>
              <span>20 mil AKZ</span>
            </p>
            <div class="d-flex">
              <button type="submit" class="btn btn-success me-2">
                <lucide-icon class="icon-color" name="shopping-cart"></lucide-icon>
              </button>
              <button type="submit" class="btn btn-warning">
                <lucide-icon class="icon-color" name="info"></lucide-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
