<form [formGroup]="clubForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col">
      <label class="name">Nome</label>
      <input type="text" class="form-control" formControlName="name">
      <div *ngIf="clubForm.get('name')?.touched && clubForm.get('name')?.invalid">
        <small class="error" *ngIf="clubForm.get('name')?.errors?.['required']">Campo obrigatório.</small>
      </div>
    </div>
    <div class="col">
      <label class="name">Abreviação</label>
      <input type="text" class="form-control" formControlName="abv">
      <div *ngIf="clubForm.get('abv')?.touched && clubForm.get('abv')?.invalid">
        <small class="error" *ngIf="clubForm.get('abv')?.errors?.['required']">Campo obrigatório.</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group mt-3">
        <label class="name">Província</label>
        <select class="form-control" formControlName="province">
          <option value="" disabled>-- Selecionar --</option>
          <option value="Bengo">Bengo</option>
          <option value="Benguela">Benguela</option>
          <option value="Bié">Bié</option>
          <option value="Cabinda">Cabinda</option>
          <option value="Cuando Cubango">Cuando Cubango</option>
          <option value="Cuanza Norte">Cuanza Norte</option>
          <option value="Cuanza Sul">Cuanza Sul</option>
          <option value="Cunene">Cunene</option>
          <option value="Huambo">Huambo</option>
          <option value="Huíla">Huíla</option>
          <option value="Luanda">Luanda</option>
          <option value="Lunda Norte">Lunda Norte</option>
          <option value="Lunda Sul">Lunda Sul</option>
          <option value="Malanje">Malanje</option>
          <option value="Moxico">Moxico</option>
          <option value="Namibe">Namibe</option>
          <option value="Uíge">Uíge</option>
          <option value="Zaire">Zaire</option>
        </select>
        <div *ngIf="clubForm.get('province')?.touched && clubForm.get('province')?.invalid">
          <small class="error" *ngIf="clubForm.get('province')?.errors?.['required']">Campo obrigatório.</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group mt-3">
        <label class="name">Grupo</label>
        <select class="form-control" formControlName="groupType">
          <option value="" disabled>-- Selecionar --</option>
          <option value="A">Grupo A</option>
          <option value="B">Grupo B</option>
          <option value="C">Grupo C</option>
          <option value="D">Grupo D</option>
        </select>
        <div *ngIf="clubForm.get('groupType')?.touched && clubForm.get('groupType')?.invalid">
          <small class="error" *ngIf="clubForm.get('groupType')?.errors?.['required']">Campo obrigatório.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group mt-3">
        <label class="name">Categoria</label>
        <select class="form-control" formControlName="category">
          <option value="" disabled>-- Selecionar --</option>
          <option value="Sub-7">Sub-7 (6-8 anos)</option>
          <option value="Sub-9">Sub-9 (9-10 anos)</option>
          <option value="Sub-11">Sub-11 (11-12 anos)</option>
          <option value="Sub-13">Sub-13 (13-14 anos)</option>
          <option value="Sub-15">Sub-15 (15-16 anos)</option>
          <option value="Sub-17">Sub-17 (17-19 anos)</option>
          <option value="Sub-20">Sub-20 (18-20 anos)</option>
          <option value="Adulto">Adulto</option>
          <option value="Veterano">Veterano</option>
        </select>
        <div *ngIf="clubForm.get('category')?.touched && clubForm.get('category')?.invalid">
          <small class="error" *ngIf="clubForm.get('category')?.errors?.['required']">Campo obrigatório.</small>
        </div>
      </div>
    </div>
    <div class="col" *ngIf="role === 'ADMIN'">
      <div class="form-group mt-3">
        <label class="name">Tipo</label>
        <select class="form-control" formControlName="status">
          <option value="" disabled>-- Selecionar --</option>
          <option value="Profissional">Profissional</option>
          <option value="Escolar">Escolar</option>
          <option value="Amador">Amador</option>
        </select>
        <div *ngIf="clubForm.get('status')?.touched && clubForm.get('status')?.invalid">
          <small class="error" *ngIf="clubForm.get('status')?.errors?.['required']">Campo obrigatório.</small>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group mt-3">
    <label>Sobre</label>
    <textarea type="text" formControlName="description" class="form-control"></textarea>
    <div *ngIf="clubForm.get('description')?.touched && clubForm.get('description')?.invalid">
      <small class="error" *ngIf="clubForm.get('description')?.errors?.['required']">Campo obrigatório.</small>
    </div>
  </div>

  <div class="form-group mt-3">
    <label class="name">Logotipo</label>
    <input type="file" accept="image/*" (change)="onImageFileChange($event)" class="form-control">
  </div>
  <div class="d-flex justify-content-center">
    <input type="submit" class="btn btn-success mt-3" value="Registar">
  </div>
</form>

