<div class="row g-0" style="background-color: #F4F2F3;">
  <div class="col-md-2 d-md-block d-none" style="background: #355070">
    <app-admin-navbar></app-admin-navbar>
  </div>
  <div class="col d-flex flex-column justify-content-between" style="min-height: 100vh;">
    <div class="container mt-3 flex-grow-1">
      <app-admin-sidebar class="d-md-none"></app-admin-sidebar>
      <nav class="navbar navbar-light d-none d-md-block">
        <div class="container-fluid">
          <a class="navbar-brand d-md-block d-none position-relative">Partidas</a>
        </div>
      </nav>
      <section class="w-full mt-3">
        <div class="card card-body navbar-light" style="border-radius: 0; color: black">
          <form [formGroup]="gameForm" (ngSubmit)="save()">
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">
              {{ errorMessage }}
            </div>
            <div class="d-flex justify-content-center">
              <div>
                <div class="row mb-3">
                  <div class="col">
                    <label>Campeonato</label>
                    <select class="form-control" (change)="onChampionshipChange($event)">
                      <option value="" disabled selected>-- Selecionar --</option>
                      <option *ngFor="let championship of championships" [value]="championship.id">{{championship.name}}</option>
                    </select>
                  </div>
                  <div class="col">
                    <label>Campo</label>
                    <select class="form-control" (change)="onFieldChange($event)">
                      <option value="" disabled selected>-- Selecionar --</option>
                      <option *ngFor="let field of fields" [value]="field.id">{{field.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label>Time A</label>
                    <select class="form-control" (change)="onFirstClubChange($event)">
                      <option value="" disabled selected>-- Selecionar --</option>
                      <option *ngFor="let club of filteredClubs" [value]="club.id">{{club.name}}</option>
                    </select>
                  </div>
                  <div class="col">
                    <span style="position: relative; right: 18px; top: 30px;">X</span>
                    <label style="position: relative; right: 10px;">Time B</label>
                    <select class="form-control" (change)="onSecondClubChange($event)">
                      <option value="" disabled selected>-- Selecionar --</option>
                      <option *ngFor="let club of filteredClubs" [value]="club.id">{{club.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label>Data e Hora</label>
                    <input type="datetime-local" class="form-control" formControlName="dateTime">
                  </div>
                  <div class="col">
                    <label>Jornada</label>
                    <input type="number" class="form-control" formControlName="matchDay">
                  </div>
                </div>

                <div class="text-center" style="color: black">
                  <div class="spinner-border" role="status" *ngIf="isLoading">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>

                <span class="d-flex justify-content-center">
                  <input type="submit" class="btn btn-success" value="Marcar">
                </span>

              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>

