@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #F1F1F1;
}

.icon-color{
  color: white;
}

.navbar-light{
  background-color: #F4F2F3;
  border: 1px solid rgba(128, 128, 128, 0.38);
}

.icon-color:hover{
  color: #d1cfe2;
}

.no-margin {
  margin-top: 0 !important;
}

.white-line{
  border: 1px solid white;
}

.error {
  color: red;
  display: block;
}

.scrollProgress{
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: rgba(255, 208, 0, 0.87);
  animation: scroll-progress linear;
  animation-timeline: scroll();
  z-index: 999;
}

@keyframes scroll-progress {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

