

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #272727;
  color: white;
}

.icon-color{
  color: white;
}

.card-color{
  background: #4C5454;
  color: white;
  width: 18rem;
}

.no-margin {
  margin-top: 0 !important;
}

.white-line{
  border: 1px solid white;
}
