

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #272727;
  color: white;
}

.icon-color{
  color: white;
}

.icon-color:hover{
  color: black;
}

.card-color{
  background: #4C5454;
  color: white;
  width: 18rem;
}

.main-card{
  background: #4C5454;
  color: white;
}

.no-margin {
  margin-top: 0 !important;
}

.white-line{
  border: 1px solid white;
}

.navbar-light{
  background-color: #F4F2F3;
}

.title-underline{
  border: 1px solid #80FF72;
}
