<section class="mt-3 mb-3 container">
  <div class="row g-3" *ngIf="club">
    <div class="col-md-6">
      <div class="card bg-transparent rounded-0 mb-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <div class="image-container">
              <img [src]="imageUrl[club.id]" class="img-fluid rounded-start mt-[20px]" alt="Emblema do Clube" height="500" width="500">
              <div *ngIf="isCaptain || role === 'ADMIN'" class="overlay"></div>
              <button *ngIf="isCaptain || role === 'ADMIN'" class="edit-button btn btn-primary" style="position: relative; left: 60px; top: -100px;" (click)="changeEmblem(club.id)">Editar</button>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="d-flex">
                <h5 class="card-title mt-4 me-3">{{club.name}}</h5>
                <button class="mt-2" (click)="edit(club.id)" *ngIf="isCaptain || role === 'ADMIN'">
                  <lucide-icon name="pencil" class="text-gray-500 hover:text-black transition duration-300"></lucide-icon>
                </button>
              </div>
              <p class="mb-0"> <span class="text-muted">Abreviação: </span> <strong>{{ club.abv }}</strong></p>
              <p class="mb-0"> <span class="text-muted">Província: </span><strong>{{ club.province }}</strong></p>
              <p class="mb-0"> <span class="text-muted">Tipo de Equipa: </span><strong>{{ club.status }}</strong></p>
              <p class="mb-0"> <span class="text-muted">Competição: </span><strong>{{ club.competition }}</strong></p>
              <p class="mb-0"> <span class="text-muted">Categoria: </span><strong>{{ club.category }}</strong></p>
            </div>
          </div>
        </div>
      </div>
      <section>
        <div class="card card-body rounded-0 bg-transparent">
          <h6>Sobre</h6>
          <p>{{club.description}}</p>
        </div>
      </section>
    </div>
    <div class="col">
      <div class="card card-body bg-transparent rounded-0">
        <div class="flex">
          <h6 class="">Jogadores</h6>
          <div *ngIf="role === 'ADMIN'">
            <a routerLink="/admin-jogadores" class="btn btn-primary ms-3">+</a>
          </div>
          <div *ngIf="isCaptain">
            <a routerLink="/jogadores" class="btn btn-primary ms-3">+</a>
          </div>
        </div>
        <ul>
          <li *ngFor="let player of club.players let i = index">
            {{ i + 1 }}.
            <span>{{player.fullName}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
