<div class="d-flex align-items-stretch">
  <app-admin-navbar class="d-none d-md-block" style="flex: 0 0 300px;"></app-admin-navbar>
  <div class="container mt-4">
    <div class="card card-body" style="position: relative; height: 100%; background-color: #d1cfe2;">
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <button class="btn bg-transparent border-0 d-md-none">
            <lucide-icon name="menu"></lucide-icon>
          </button>
          <a class="navbar-brand d-md-block d-none">Partidas</a>
          <a class="navbar-brand d-md-none d-block" style="position: relative; right: 45px;">FUTDABANDA</a>
          <div class="d-flex align-items-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#" class="nav-link position-relative">
                  <lucide-icon name="bell"></lucide-icon>
                  <span class="position-absolute top-2 start-100 translate-middle badge rounded-pill bg-danger">
                    1<span class="visually-hidden"></span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="mt-3">
        <mat-tab-group>
          <mat-tab label="Resultados">

          </mat-tab>
          <mat-tab label="Próximas">

          </mat-tab>
          <mat-tab label="Nova">

          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
