<main class="flex flex-col min-h-screen">
  <div class="flex-grow">
    <app-navbar></app-navbar>

    <section class="w-full overflow-x-hidden" >
      <h5 class="mt-3 flex justify-center">Campeonatos</h5>
      <div *ngIf="championships.length > 0 else emptyChampionship">
        <div *ngFor="let championship of championships">
          <h6 class="ms-4">{{championship.name}}</h6>
          <div class="card bg-transparent border-0 rounded-none card-body ms-4 mb-3 me-4">
            <div class="row" *ngIf="games[championship.id].length > 0 else emptyGame">
              <div class="col-md-6 border-1 cursor-pointer hover:bg-gray-200 hover:shadow-lg" *ngFor="let game of games[championship.id]">
                <div (click)="gameDetails(game.id!)">
                  <div class="flex">
                    <img class="object-fit-cover" ngSrc="assets/img06.png" alt="" height="70" width="70">
                    <span class="mt-4">{{game.firstClub.name}}</span>
                    <span  *ngIf="game.status ==='Em Andamento' || game.status ==='Terminado'">
                    <h6 class="ms-4 mt-3" *ngFor="let goal of firstClubGameStat[game.id!]">
                      {{ goal.goals }}
                    </h6>
                  </span>
                  </div>
                  <div class="flex justify-end">
                    <span>{{game.status}}, {{game.dateTime}}</span>
                  </div>
                  <div class="flex">
                    <img class="object-fit-cover" ngSrc="assets/img06.png" alt="" height="70" width="70">
                    <span class="mt-4">{{game.secondClub.name}}</span>
                    <span  *ngIf="game.status ==='Em Andamento' || game.status ==='Terminado'">
                    <h6 class="ms-4 mt-3" *ngFor="let goal of secondClubGameStat[game.id!]">
                      {{ goal.goals }}
                    </h6>
                  </span>
                  </div>
                </div>
                </div>
              <button class="btn hover:text-gray-500 mt-2" (click)="championshipDetails(championship.id)"><u>Ver Mais</u></button>
            </div>

            <ng-template #emptyGame>
              <h6 class="flex justify-center text-muted">Nenhum Jogo Encontrado</h6>
            </ng-template>

          </div>
        </div>
      </div>

      <ng-template #emptyChampionship>
        <h6 class="flex justify-center text-muted py-[50px]">Nenhum Campeonato Encontrado</h6>
      </ng-template>


      <h5 class="mt-3 flex justify-center">Clubes</h5>

      <div class="card bg-transparent border-0 rounded-none card-body ms-4 mb-3 me-4" *ngIf="clubs.length > 0 else emptyClub">
        <div class="row g-3">
          <div class="col-md-3 mb-3" *ngFor="let club of clubs">
            <div class="d-flex justify-content-center">
              <div class="card bg-transparent cursor-pointer hover:bg-gray-200 hover:shadow-lg">
                <div class="card-header bg-light" (click)="clubDetails(club.id)">
                  <div class="d-flex justify-content-center">
                    <img class="card-img" [src]="imageUrls[club.id]" alt="Logo do Clube" height="80" width="80">
                  </div>
                </div>
                <div class="card-body bg-transparent d-flex justify-content-center" (click)="clubDetails(club.id)">
                  <h6>{{club.name}} ({{club.abv}})</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #emptyClub>
        <h6 class="flex justify-center text-muted py-[50px]">Nenhum Clube Encontrado</h6>
      </ng-template>

    </section>
  </div>
  <app-footer></app-footer>
</main>

